name: Build/release

on: push

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Build JS/TS
        run: npm run build:dist

      - name: Build/release Electron app
        uses: samuelmeuli/action-electron-builder@v1
        with:
          args: --publish=always
          # Custom GitHub token with permissions to create releases
          # (Must be defined as PERSONAL_GITHUB_TOKEN in repo secrets)
          github_token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}

          # If the commit is tagged with a version (e.g. "v1.0.0"),
          # release the app after building
          release: ${{ startsWith(github.ref, 'refs/tags/v') }}
